<div class="login-container">
    <p-card class="login-card">
      <div class="login-header">
        <h2>Welcome Back!</h2>
        <p>Please login to your account</p>
      </div>
      <div class="login-form">
        <form (ngSubmit)="onSubmit()">
          <div class="p-fluid p-field">
            <label for="Email">Email</label>
            <input
              id="Email"
              type="Email"
              pInputText
              [(ngModel)]="Email"
              name="Email"
              required
              placeholder="Enter your Email"
            />
          </div>

          <div class="p-fluid p-field">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              pInputText
              [(ngModel)]="password"
              name="password"
              required
              placeholder="Enter your password"
            />
          </div>
          <div class="p-fluid">
            <button type="submit" pButton label="Log In" icon="pi pi-sign-in" class="login-button"></button>
          </div>
        </form>
        <div class="p-fluid sign-up">
          <p-button label="Sign Up" icon="pi pi-user-plus" class="sign-up-button" (click)="goToSignUp()"></p-button>
        </div>
      </div>
    </p-card>
  </div>
  